.containerMiddle {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 10px;
	padding: 20px;
}

.errorText {
	color: red;
	font-size: 15px;
}

.formHeader {
	border-radius: 10px;
	padding: 10px;
	color: white;
}